{#
/**
 * @file
 * Socialbase's theme implementation to display a landing page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 *
 * @see template_preprocess_page()
 * @see /html/profiles/contrib/social/themes/socialbase/templates/layout/page.html.twig
 */
#}

{% if page.header %}
  {{ page.header }}
{% endif %}

<main id="content" class="main-container" role="main">

  {# No breadcrumbs for landing pages #}
  {# Hero region will be in section #}
  {# No secondary navigation #}
  {% if page.secondary_navigation %}
    {{ page.secondary_navigation }}
  {% endif %}
  {% if page.content_top %}
    {{ page.content_top }}
  {% endif %}
  {# Clear section class #}
  {# <section{{ content_attributes.removeClass('with-title-region', 'layout--with-complementary') }}> #}
  <section>
    {# Page title printed in a section #}
    {# No side blocks #}
    {% block content %}
      <a id="main-content" tabindex="-1"></a>
      {{ page.content }}
    {% endblock %}

  </section>

  <!-- Mockup landingpage sections -->
  <section>
    <div class="dashboard">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>13 nordic cities united in one smart network</h2>
            <p>Aarhus, København, Vejle, Aalborg, Odense, Bergen, Trondheim, Oslo, Stavanger, Reykjavik, Bærum, Tromsø og Kristiansand</p>
            <form action="#">
              <div class="form-group">
                <div class="form-item">
                  <select name="" id="nordic-cities" class="form-control">
                    <option value="Aarhus">Aarhus</option>
                    <option value="København">København</option>
                    <option value="Vejle">Vejle</option>
                    <option value="Aalborg">Aalborg</option>
                    <option value="Odense">Odense</option>
                    <option value="Bergen">Bergen</option>
                    <option value="Trondheim">Trondheim</option>
                    <option value="Oslo">Oslo</option>
                    <option value="Stavanger">Stavanger</option>
                    <option value="Reykjavik">Reykjavik</option>
                    <option value="Bærum">Bærum</option>
                    <option value="Tromsø">Tromsø</option>
                    <option value="Kristiansand">Kristiansand</option>
                  </select>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-md-6">
                <div class="graph">
                  <?xml version="1.0" encoding="UTF-8"?>
                  <svg width="174px" height="149px" viewBox="0 0 174 149" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 50 (54983) - http://www.bohemiancoding.com/sketch -->
                      <title>graph_bars</title>
                      <desc>Created with Sketch.</desc>
                      <defs></defs>
                      <g id="Website---desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Frontpage---desktop" transform="translate(-132.000000, -971.000000)">
                              <g id="graph_bars" transform="translate(132.000000, 971.000000)">
                                  <rect id="Rectangle-7" fill="#2A32A3" x="0" y="94" width="15" height="15"></rect>
                                  <rect id="Rectangle-7-Copy" fill="#3836A3" x="26.5" y="19" width="15" height="90"></rect>
                                  <text id="42410" font-family="Muli-Black, Muli" font-size="30" font-weight="700" fill="#FFFFFF">
                                      <tspan x="41.985" y="148">42410</tspan>
                                  </text>
                                  <rect id="Rectangle-7-Copy-2" fill="#5136A3" x="53" y="67" width="15" height="42"></rect>
                                  <rect id="Rectangle-7-Copy-3" fill="#7636A3" x="79.5" y="40" width="15" height="69"></rect>
                                  <rect id="Rectangle-7-Copy-4" fill="#972AA3" x="106" y="0" width="15" height="109"></rect>
                                  <rect id="Rectangle-7-Copy-5" fill="#B3228C" x="132.5" y="30" width="15" height="79"></rect>
                                  <rect id="Rectangle-7-Copy-6" fill="#C71D7D" x="159" y="50" width="15" height="59"></rect>
                              </g>
                          </g>
                      </g>
                  </svg>
                </div>
                <p class="text-center">Cars in the city</p>
              </div>
              <div class="col-md-6">
                <div class="graph">
                  <?xml version="1.0" encoding="UTF-8"?>
                  <svg width="174px" height="149px" viewBox="0 0 174 149" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 50 (54983) - http://www.bohemiancoding.com/sketch -->
                      <title>graph_gauge</title>
                      <desc>Created with Sketch.</desc>
                      <defs>
                          <linearGradient x1="0%" y1="100%" x2="100%" y2="100%" id="linearGradient-1">
                              <stop stop-color="#2A32A3" offset="0%"></stop>
                              <stop stop-color="#EE0043" offset="100%"></stop>
                              <stop stop-color="#FFFFFF" offset="100%"></stop>
                          </linearGradient>
                      </defs>
                      <g id="Website---desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Frontpage---desktop" transform="translate(-329.000000, -971.000000)">
                              <g id="graph_gauge" transform="translate(329.000000, 971.000000)">
                                  <path d="M86,2 L88,2 L88,22 L86,22 L86,2 Z M91.5348707,2.10654493 L93.5299988,2.24605788 L92.1348693,22.1973389 L90.1397412,22.0578259 L91.5348707,2.10654493 Z M96.8768063,2.55983714 L98.8618986,2.80357583 L96.4245117,22.6544989 L94.4394194,22.4107602 L96.8768063,2.55983714 Z M102.354824,3.35680086 L104.318078,3.73841885 L100.501898,23.3709625 L98.5386441,22.9893445 L102.354824,3.35680086 Z M107.598045,4.47421743 L109.538636,4.95806123 L104.700198,24.3639758 L102.759607,23.880132 L107.598045,4.47421743 Z M112.933422,5.94906609 L114.835535,6.56710008 L108.655195,25.5882304 L106.753082,24.9701964 L112.933422,5.94906609 Z M118.164473,7.76076545 L120.01884,8.50997863 L112.526708,27.0536557 L110.672341,26.3044425 L118.164473,7.76076545 Z M123.10488,9.84262083 L124.917496,10.6878574 L116.465131,28.8140131 L114.652515,27.9687766 L123.10488,9.84262083 Z M128.068509,12.2933789 L129.817749,13.2629982 L120.121556,30.7553923 L118.372317,29.7857731 L128.068509,12.2933789 Z M132.709808,14.9763495 L134.405904,16.036188 L123.807519,32.99715 L122.111422,31.9373114 L132.709808,14.9763495 Z M137.3283,18.0277362 L138.946334,19.2033067 L127.190629,35.3836466 L125.572595,34.2080761 L137.3283,18.0277362 Z M141.743479,21.3672483 L143.275568,22.6528235 L130.419816,37.9737123 L128.887727,36.6881371 L141.743479,21.3672483 Z M145.798757,24.8738803 L147.261464,26.237877 L133.621497,40.8649511 L132.15879,39.5009543 L145.798757,24.8738803 Z M149.762123,28.7385355 L151.12612,30.2012429 L136.499046,43.8412101 L135.135049,42.3785027 L149.762123,28.7385355 Z M153.347177,32.7244322 L154.632752,34.2565211 L139.311863,47.1122733 L138.026288,45.5801844 L153.347177,32.7244322 Z M156.796693,37.0536661 L157.972264,38.6717 L141.791924,50.4274051 L140.616353,48.8093711 L156.796693,37.0536661 Z M159.963812,41.594096 L161.02365,43.2901922 L144.062689,53.8885775 L143.00285,52.1924813 L159.963812,41.594096 Z M162.737002,46.1822512 L163.706621,47.9314906 L146.214227,57.627683 L145.244608,55.8784436 L162.737002,46.1822512 Z M165.312143,51.0825041 L166.157379,52.8951197 L148.031223,61.347485 L147.185987,59.5348694 L165.312143,51.0825041 Z M167.490021,55.9811597 L168.239235,57.8355274 L149.695557,65.3276592 L148.946344,63.4732915 L167.490021,55.9811597 Z M169.4329,61.164465 L170.050934,63.066578 L151.029804,69.2469179 L150.41177,67.3448049 L169.4329,61.164465 Z M171.041939,66.461364 L171.525783,68.4019555 L152.119868,73.2403934 L151.636024,71.2998019 L171.041939,66.461364 Z M172.261581,71.6819216 L172.643199,73.645176 L153.010655,77.4613559 L152.629037,75.4981015 L172.261581,71.6819216 Z M173.196424,77.1381014 L173.440163,79.1231937 L153.58924,81.5605806 L153.345501,79.5754883 L173.196424,77.1381014 Z M173.753942,82.4700012 L173.893455,84.4651293 L153.942174,85.8602588 L153.802661,83.8651307 L173.753942,82.4700012 Z M174,88 L174,90 L154,90 L154,88 L174,88 Z M173.893455,93.5348707 L173.753942,95.5299988 L153.802661,94.1348693 L153.942174,92.1397412 L173.893455,93.5348707 Z M173.440163,98.8768063 L173.196424,100.861899 L153.345501,98.4245117 L153.58924,96.4394194 L173.440163,98.8768063 Z M172.643199,104.354824 L172.261581,106.318078 L152.629037,102.501898 L153.010655,100.538644 L172.643199,104.354824 Z M171.525783,109.598045 L171.041939,111.538636 L151.636024,106.700198 L152.119868,104.759607 L171.525783,109.598045 Z M170.050934,114.933422 L169.4329,116.835535 L150.41177,110.655195 L151.029804,108.753082 L170.050934,114.933422 Z M168.239235,120.164473 L167.490021,122.01884 L148.946344,114.526708 L149.695557,112.672341 L168.239235,120.164473 Z M166.157379,125.10488 L165.312143,126.917496 L147.185987,118.465131 L148.031223,116.652515 L166.157379,125.10488 Z M163.706621,130.068509 L162.737002,131.817749 L145.244608,122.121556 L146.214227,120.372317 L163.706621,130.068509 Z M161.02365,134.709808 L159.963812,136.405904 L143.00285,125.807519 L144.062689,124.111422 L161.02365,134.709808 Z M14.036188,136.405904 L12.9763495,134.709808 L29.9373114,124.111422 L30.99715,125.807519 L14.036188,136.405904 Z M11.2629982,131.817749 L10.2933789,130.068509 L27.7857731,120.372317 L28.7553923,122.121556 L11.2629982,131.817749 Z M8.68785735,126.917496 L7.84262083,125.10488 L25.9687766,116.652515 L26.8140131,118.465131 L8.68785735,126.917496 Z M6.50997863,122.01884 L5.76076545,120.164473 L24.3044425,112.672341 L25.0536557,114.526708 L6.50997863,122.01884 Z M4.56710008,116.835535 L3.94906609,114.933422 L22.9701964,108.753082 L23.5882304,110.655195 L4.56710008,116.835535 Z M2.95806123,111.538636 L2.47421743,109.598045 L21.880132,104.759607 L22.3639758,106.700198 L2.95806123,111.538636 Z M1.73841885,106.318078 L1.35680086,104.354824 L20.9893445,100.538644 L21.3709625,102.501898 L1.73841885,106.318078 Z M0.803575826,100.861899 L0.559837139,98.8768063 L20.4107602,96.4394194 L20.6544989,98.4245117 L0.803575826,100.861899 Z M0.246057882,95.5299988 L0.106544935,93.5348707 L20.0578259,92.1397412 L20.1973389,94.1348693 L0.246057882,95.5299988 Z M0,90 L-3.6739404e-16,88 L20,88 L20,90 L0,90 Z M0.106544935,84.4651293 L0.246057882,82.4700012 L20.1973389,83.8651307 L20.0578259,85.8602588 L0.106544935,84.4651293 Z M0.559837139,79.1231937 L0.803575826,77.1381014 L20.6544989,79.5754883 L20.4107602,81.5605806 L0.559837139,79.1231937 Z M1.35680086,73.645176 L1.73841885,71.6819216 L21.3709625,75.4981015 L20.9893445,77.4613559 L1.35680086,73.645176 Z M2.47421743,68.4019555 L2.95806123,66.461364 L22.3639758,71.2998019 L21.880132,73.2403934 L2.47421743,68.4019555 Z M3.94906609,63.066578 L4.56710008,61.164465 L23.5882304,67.3448049 L22.9701964,69.2469179 L3.94906609,63.066578 Z M5.76076545,57.8355274 L6.50997863,55.9811597 L25.0536557,63.4732915 L24.3044425,65.3276592 L5.76076545,57.8355274 Z M7.84262083,52.8951197 L8.68785735,51.0825041 L26.8140131,59.5348694 L25.9687766,61.347485 L7.84262083,52.8951197 Z M10.2933789,47.9314906 L11.2629982,46.1822512 L28.7553923,55.8784436 L27.7857731,57.627683 L10.2933789,47.9314906 Z M12.9763495,43.2901922 L14.036188,41.594096 L30.99715,52.1924813 L29.9373114,53.8885775 L12.9763495,43.2901922 Z M16.0277362,38.6717 L17.2033067,37.0536661 L33.3836466,48.8093711 L32.2080761,50.4274051 L16.0277362,38.6717 Z M19.3672483,34.2565211 L20.6528235,32.7244322 L35.9737123,45.5801844 L34.6881371,47.1122733 L19.3672483,34.2565211 Z M22.8738803,30.2012429 L24.237877,28.7385355 L38.8649511,42.3785027 L37.5009543,43.8412101 L22.8738803,30.2012429 Z M26.7385355,26.237877 L28.2012429,24.8738803 L41.8412101,39.5009543 L40.3785027,40.8649511 L26.7385355,26.237877 Z M30.7244322,22.6528235 L32.2565211,21.3672483 L45.1122733,36.6881371 L43.5801844,37.9737123 L30.7244322,22.6528235 Z M35.0536661,19.2033067 L36.6717,18.0277362 L48.4274051,34.2080761 L46.8093711,35.3836466 L35.0536661,19.2033067 Z M39.594096,16.036188 L41.2901922,14.9763495 L51.8885775,31.9373114 L50.1924813,32.99715 L39.594096,16.036188 Z M44.1822512,13.2629982 L45.9314906,12.2933789 L55.627683,29.7857731 L53.8784436,30.7553923 L44.1822512,13.2629982 Z M49.0825041,10.6878574 L50.8951197,9.84262083 L59.347485,27.9687766 L57.5348694,28.8140131 L49.0825041,10.6878574 Z M53.9811597,8.50997863 L55.8355274,7.76076545 L63.3276592,26.3044425 L61.4732915,27.0536557 L53.9811597,8.50997863 Z M59.164465,6.56710008 L61.066578,5.94906609 L67.2469179,24.9701964 L65.3448049,25.5882304 L59.164465,6.56710008 Z M64.461364,4.95806123 L66.4019555,4.47421743 L71.2403934,23.880132 L69.2998019,24.3639758 L64.461364,4.95806123 Z M69.6819216,3.73841885 L71.645176,3.35680086 L75.4613559,22.9893445 L73.4981015,23.3709625 L69.6819216,3.73841885 Z M75.1381014,2.80357583 L77.1231937,2.55983714 L79.5605806,22.4107602 L77.5754883,22.6544989 L75.1381014,2.80357583 Z M80.4700012,2.24605788 L82.4651293,2.10654493 L83.8602588,22.0578259 L81.8651307,22.1973389 L80.4700012,2.24605788 Z" id="Rectangle-5" fill="url(#linearGradient-1)"></path>
                                  <rect id="Rectangle-6" fill="#FFFFFF" transform="translate(89.565631, 43.997453) rotate(4.000000) translate(-89.565631, -43.997453) " x="88.0656309" y="-0.00254707795" width="3" height="88"></rect>
                                  <text id="52%" font-family="Muli-Black, Muli" font-size="30" font-weight="700" fill="#FFFFFF">
                                      <tspan x="54.875" y="148">52%</tspan>
                                  </text>
                              </g>
                          </g>
                      </g>
                  </svg>
                </div>
                <p class="text-center">Parkinspace load</p>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-md-offset-1">
            <img src="/themes/custom/nscn/mockup-assets/img/nordic-countries-map.svg" alt="Nordics">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="introduction cut-off-white">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Smart City Projects</h2>
            <p>Learn more about the smart projects that the cities have developed.</p>
            <a href="#">Smart parking and traffic</a><br>
            <a href="#">Intelligent trashcans</a><br>
            <a href="#">Waterpipe mosture monitoring</a><br>
          </div>
        </div>
      </div>
    </div>
    <div class="image full-width" style="background-image: url('/themes/custom/nscn/mockup-assets/img/tom-parkes-417833-unsplash.jpg');">
    </div>
    <div class="paragraph paragraph--featured cut-off-gray">
      <div class="container">
        <div class="row">
          <div class="block block--news">
            <div class="col-md-7">
              <div class="block--news-teaser">
                <h2>Keeping the pace</h2>
                <span class="date">9. may in News</span>
                <p>For at opretholde samarbejdet, og forpligte hinanden imellem, har byerne underskrevet et ”Letter of intent”, der sikrer målene vil blive indfriet og alle arbejder sammen. København, Aarhus og Oslo arbejder i den kommende tid med forskellige scenarier for hvordan netværket bedst organiseres og det forventes, at netværket i løbet af foråret enes om en organisering, der kan formalisere samarbejdet. Næste konkrete skridt er en fælles ansøgning hvor byerne søger midler til udviklingen af ex forretningsmodeller for nordiske city Lab, såsom Aarhus City Lab og Copenhagen Street Lab. Ansøgningen har et samlet budget på 4 mio. og skal være Nordisk Innovation i hænde senest 8. februar.</p>
                <p><a href="#">Read more</a></p>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <div class="block--news--list">
                <h4>Latest news</h4>
                <ul class="news-list">
                  <li>
                    <a href="">Ut bibendum accumsan ipsum, quis sollicitudin leo laoreet vitae</a>
                    <span class="date">9. may in News</span>
                  </li>
                  <li>
                    <a href="">Renean mauris purus, sodales sed nunc eu, malesuada sollicitudin dui. Aliquam metus quam, mollis vel turpis at, placerat volutpat nibh</a>
                    <span class="date">1. may in News</span>
                  </li>
                  <li>
                    <a href="">Curabitur sed rhoncus ipsum. Ut egestas, metus sit amet rutrum auctor</a>
                    <span class="date">10. april in News</span>
                  </li>
                </ul>
                <p><a href="#">See more news</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% if page.footer %}
  {{ page.footer }}
{% endif %}
