{#
/**
 * @file
 * Socialbase's theme implementation to display a landing page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 *
 * @see template_preprocess_page()
 * @see /html/profiles/contrib/social/themes/socialbase/templates/layout/page.html.twig
 */
#}

{% if page.header %}
  {{ page.header }}
{% endif %}

<main id="content" class="main-container" role="main">

  {# No breadcrumbs for landing pages #}
  {# Hero region will be in section #}
  {# No secondary navigation #}
  {% if page.secondary_navigation %}
    {{ page.secondary_navigation }}
  {% endif %}
  {% if page.content_top %}
    {{ page.content_top }}
  {% endif %}
  {# Clear section class #}
  {# <section{{ content_attributes.removeClass('with-title-region', 'layout--with-complementary') }}> #}
  <section class="container-fluid">
    {# Page title printed in a section #}
    {# No side blocks #}
    {% block content %}
      <a id="main-content" tabindex="-1"></a>
      {{ page.content }}
    {% endblock %}

  </section>

  <!-- Mockup landingpage sections -->
  <section>
    <div class="dashboard">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>13 nordic cities united in one smart network</h2>
            <p>Aarhus, København, Vejle, Aalborg, Odense, Bergen, Trondheim, Oslo, Stavanger, Reykjavik, Bærum, Tromsø og Kristiansand</p>
            <form action="#">
              <select name="" id="nordic-cities">
                <option value="Aarhus">Aarhus</option>
                <option value="København">København</option>
                <option value="Vejle">Vejle</option>
                <option value="Aalborg">Aalborg</option>
                <option value="Odense">Odense</option>
                <option value="Bergen">Bergen</option>
                <option value="Trondheim">Trondheim</option>
                <option value="Oslo">Oslo</option>
                <option value="Stavanger">Stavanger</option>
                <option value="Reykjavik">Reykjavik</option>
                <option value="Bærum">Bærum</option>
                <option value="Tromsø">Tromsø</option>
                <option value="Kristiansand">Kristiansand</option>
              </select>
            </form>
            <div class="row">
              <div class="col-md-6">
                <h3>Graph 1</h3>
              </div>
              <div class="col-md-6">
                <h3>Graph 1</h3>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <img src="/themes/custom/nscn/mockup-assets/img/nordic-countries-map.svg" alt="Nordics">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="introduction cut-off-white">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Smart City Projects</h2>
            <p>Learn more about the smart projects that the cities have developed.</p>
            <ul>
              <li><a href="#">Smart parking and traffic</a></li>
              <li><a href="#">Intelligent trashcans</a></li>
              <li><a href="#">Waterpipe mosture monitoring</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="image full-width">
    <img src="/themes/custom/nscn/mockup-assets/img/tom-parkes-417833-unsplash.jpg" alt="Smartytunnel">
    </div>
    <div class="featured cut-off-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h3>Case: City data hub</h3>
            <p>Aliquam vehicula ligula eros, rutrum laoreet turpis euismod sit amet.</p>
            <p><a href="#">Read the case story here</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% if page.footer %}
  {{ page.footer }}
{% endif %}
